gource-0.53.win64/ChangeLog.txt
gource-0.53.win64/COPYING.txt
gource-0.53.win64/glew32.dll
gource-0.53.win64/gource.exe
gource-0.53.win64/libboost_filesystem-mt.dll
gource-0.53.win64/libbrotlicommon.dll
gource-0.53.win64/libbrotlidec.dll
gource-0.53.win64/libbz2-1.dll
gource-0.53.win64/libdeflate.dll
gource-0.53.win64/libfreetype-6.dll
gource-0.53.win64/libgcc_s_seh-1.dll
gource-0.53.win64/libglib-2.0-0.dll
gource-0.53.win64/libgraphite2.dll
gource-0.53.win64/libharfbuzz-0.dll
gource-0.53.win64/libiconv-2.dll
gource-0.53.win64/libintl-8.dll
gource-0.53.win64/libjbig-0.dll
gource-0.53.win64/libjpeg-8.dll
gource-0.53.win64/libLerc.dll
gource-0.53.win64/liblzma-5.dll
gource-0.53.win64/libpcre-1.dll
gource-0.53.win64/libpcre2-8-0.dll
gource-0.53.win64/libpng16-16.dll
gource-0.53.win64/libstdc++-6.dll
gource-0.53.win64/libtiff-5.dll
gource-0.53.win64/libwebp-7.dll
gource-0.53.win64/libwinpthread-1.dll
gource-0.53.win64/libzstd.dll
gource-0.53.win64/README.txt
gource-0.53.win64/SDL2_image.dll
gource-0.53.win64/SDL2.dll
gource-0.53.win64/THANKS.txt
gource-0.53.win64/zlib1.dll
gource-0.53.win64/cmd/gource
gource-0.53.win64/cmd/gource.cmd
gource-0.53.win64/data/beam.png
gource-0.53.win64/data/bloom_alpha.tga
gource-0.53.win64/data/bloom.tga
gource-0.53.win64/data/file.png
gource-0.53.win64/data/gource.style
gource-0.53.win64/data/user.png
gource-0.53.win64/data/fonts/FreeSans.ttf
gource-0.53.win64/data/fonts/README.txt
gource-0.53.win64/data/shaders/bloom.frag
gource-0.53.win64/data/shaders/bloom.vert
gource-0.53.win64/data/shaders/shadow.frag
gource-0.53.win64/data/shaders/shadow.vert
gource-0.53.win64/data/shaders/text.frag
gource-0.53.win64/data/shaders/text.vert
